#cc
{
	width: 100%;
	min-height: 600px;
	background-color: #D09B65;
	border: 1px solid blue;
}
.btn-save{
	padding: 15px 25px;
	background-color: #2ECC71;
	cursor: pointer;   
	border: none; 
	color: #fff;
	border-radius: 4px;
	border-bottom: 4px solid #27AE60;
	margin-bottom: 20px;
	margin-right: 600px;
	margin-top: 70px;
}
#menu
{
	border: solid #C6C6D2  3px;
	height: 40px;
	width: 100%;
	border-radius:2px;
    background-color: #898CC1;
}
.row1{
	font-size: 22px;
	float: left;
	margin-left: 40px;
	padding: 6px;
}
.row0{
	margin-top: 230px;
	margin-left: 89px;
}
#menu ul
{
	list-style-type: none;
	margin-left: 20px;
	text-transform: capitalize;
}
#menu ul li
{
	float:left;
	font-size:20px;
    margin-right: 20px;
	border:visible;
}
#menu ul li a {
	float: left;
	padding-right: 25px;
	padding-left: 25px;
	text-decoration: none;
}
#menu ul li a:hover{

	background-color: gray;
}
#footer ul
{
	list-style-type: none;
	text-transform: lowercase;
	margin-top: 8px;
}
#footer ul li{
	font-size:17px;
    margin-right: 8px;
	background-color: green;
}
#footer ul li a {
	float: left;
	padding-left: 8px;
}


