#lof{
	border: solid black 1px;
	min-height: 500px;
}
.geba{
	margin-left: 4px;
	margin-top: 4px;

}
#pay1{
	float: left;
	width: 500px;
	border: 0px solid red;
	height: 430px;
	padding: 5px;
	margin: 5px;
}
#pay2{
	float: left;
	width: 455px;
	border: 0px solid red;
	height: 430px;
	margin: 5px;
	padding: 5px;
}
#faraw{
	width: 480px;
	padding: 5px;
	margin: 3px;
	float: left;
	border: 0px solid red;
	height: 350px;
}
#faraw1{
	width: 480px;
	padding: 5px;
	margin: 3px;
	float: left;
	border: 0px solid red;
	height: 350px;
}
#divide{
	float: left;
	border: 1px solid red;
	width: 283px;
	height: 480px;
	padding: 5px;
	margin: 5px;
}
#divided{
	float: left;
	border: 0px solid red;
	width: 1000px;
	padding: 5px;
	margin: 5px;
	height: 500px;
}
#main_container {
	height: 70px;
	width: 100%;
	background-color: gray;
}
#menu
{
	height: 35px;
	margin-top: -14px;
	border-radius:2px;
	background-color:#C4C566;
}
#menu ul
{
	list-style-type: none;
	margin-left: 150px;
	text-transform: capitalize;
}
#menu ul li
{
	float:left;
	font-size:20px;
	margin-top: 3px;
    margin-right: 20px;
	border:visible;
}
#menu ul li a {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: underline;
	background-color:##C4C566;
}
#menu ul li a:hover{

	background-color: gray;
	text-decoration: underline;
}
#footer ul
{
	list-style-type: none;
	text-transform: lowercase;
}
#footer ul li{
	font-size:17px;
    margin-right: 8px;
	background-color: green;
}
#footer ul li a {
	float: left;
	padding-left: 8px;
}
