.images{
	background-image: url(image/nani.jpg);
	background-repeat: no-repeat;
	background-size: 100% 850px;
	margin: 0 auto;
}
.contiainer{
	width: 500px;
	height:470px;
	text-align: center;
	background-color: #34495E;
	margin-top: 100px;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 400px;
}
.contiainer img{
	width: 140px;
	height: 130px;
	margin-top: 2px;
	margin-bottom: 30px; 
}
input[type="text"],input[type="password"],input[type="number"]{
	height: 45px;
	width: 300px;
	margin-bottom: 20px;
	font-size: 18px;
	border: none;
	border-radius: 2px;
	background-color: #fff;
	padding-left: 40px;
}
.form-input::before{
	content: "\f005";
	position :absolute;
	font-family: "FontAwesome";
	padding-left: 5px;
	color: #9B59B6;
	padding-top: 7px;
	font-size: 30px;
}
.btn-login{
	padding: 15px 25px;
	background-color: #2ECC71;
	cursor: pointer;   
	border: none; 
	color: #fff;
	border-radius: 4px;
	border-bottom: 0px solid #27AE60;
	margin-bottom: 20px;
}
