
















		<p class="gare" >
		<img src="image/ee.gif" width="400" height="300">
		 Salary Income Tax Calculation in Ethiopia, Pension, Gross Salary and Net Salary Calculator with Examples
Here are the formulas on how to calculate personal (employee) income tax, <br>pension, gross and net income in Ethiopia. For comparison purpose, we have also added the old net salary, pension and income tax caluculation methods.

Salary Income Tax = (Gross Salary * Tax Rate) - Deduction<br>

Employee Pension - Gross Salary x 7%<br>

Net Income = Gross Salary - Salary Income Tax - Employee Pension - Other Taxes (If applicable)<br>

Employee Pension - 7%<br>

Company Pension - 11%<br>


	<table border="1">
    <tr>
    	<th>No</th>
    	<th>Salary Range (ETB)</th>
    	<th>Tax Rate</th>
    	<th>Deduction (ETB)</th>
    </tr>
    <tr>
    	<td>1</td>
    	<td>0 - 600 Birr</td>
    	<td>Non-Taxable</td>
    	<td>-</td>
    </tr>
    <tr>
    	<td>2</td>
    	<td>601-1,650 Birr</td>
    	<td>10%</td>
    	<td>60 birr</td>
    </tr></tr>
    <tr>
    	<td>3</td>
    	<td>1,651 - 3,200 Birr</td>
    	<td>15%</td>
    	<td>142.50 Birr</td>
    </tr>
    <tr>
    	<td>4</td>
    	<td>3,201 - 5,250 Birr</td>
    	<td>20%</td>
    	<td>320.50 birr</td>
    </tr></tr>
    <tr>
    	<td>5</td>
    	<td>5,251 - 7,800 Birr</td>
    	<td>25%</td>
    	<td>565 birr</td>
    </tr>
    <tr>
    	<td>6</td>
    	<td>7,801 - 10,900 Birr</td>
    	<td>30%</td>
    	<td>955 birr</td>
    </tr>
    <tr>
    	<td>7</td>
    	<td>Over 10,900 Birr</td>
    	<td>35%</td>
    	<td>1,500 birr</td>
    </tr>
	</table>
	<p>Example
If the salary of an employee is 2,000 Birr.<br>
By referring to the above table, we can see that 2,000 birr falls in the No. 4 row. So,<br>
 Tax Rate = 15% and deduction = 142.50 <br>
Income Tax = (2,000 Birr x 15%) - 142.50 Birr <br>
Income Tax = 300 Birr - 142.50 = 157.50 Birr <br>
Employee Pension = 2,000 Birr x 7% = 140 Birr <br>
Employee Net Income = 2,000 Birr - 157.50 - 140 = 1702.50 Birr <br>
Net Income = 1,702.50 Birr <br>
</p>
 </div>  