input[type="text"],input[type="password"],input[type="number"]{
	height: 40px;
	width: 300px;
	margin-bottom: 20px;
	font-size: 18px;
	background-color: #fff;
	border-radius: 2px;
	padding-left: 40px;
	border: 1px solid #BDBDF1;
}
#main-menu{
width: 1317px;
min-height: 420px;
border: 0px solid red;
margin: 5px;
}
#holder{
	width: 100%;
	min-height: 870px;
    border: 1px solid red;
}
#bgcolor{
	background-color: #F5E1EB;
}
#first{
	width:  400px;
	height: 400px;
	float: left;
	margin: 5px;
	padding: 5px;
	border: 0px solid red;
}
#conyact_us{
	float: left;
	width: 315px;
	height: 300px;
	border: 0px solid gray;
	margin-top: 5px;
	padding: 5px;
	margin-left: 4px;
}
#CONTA{
	color: gray;
	font-size:18px;
	font-weight: bold;
}
#tittle{
	color: orange;
	font-size:18px;
	font-weight: bold;  
}
#conte{
	text-align: justify;
	padding: 0px; 
}
.row1{
	font-size: 22px;
	float: left;
	margin-left: 40px;
	padding: 6px;
}
.row0{
	margin-top: 230px;
	margin-left: 89px;
}
#second{
	width: 423px;
	height: 400px;
	float: left;
	margin: 5px;
	border: 0px solid red;
	padding: 5px;
}
#third{
	width:  425px;
	height: 400px;
	float: left;
	padding: 5px;
	margin: 5px;
	border: 0px solid red;
}
#fourth{
	width: 1317px;
	float: left;
	margin: 5px;
	padding: 5px;
	height: 400px;
    border: 0px solid red;
}
#fourth img {
	margin: 5px;
	padding: 5px;
}
#about1{
	width: 794px;
	min-height: 500px;
	border: 0px solid red;
	float: left;
	margin-left: 8px;
	padding: 5px;
}
#about2{
	width: 400px;
	height: 500px;
	border: 0px solid red;
	float: left;
	margin: 5px;
	padding: 8px;
	margin-right: 0px;
	margin-left: 90px;
}
#cc
{
	width: 100%;
	min-height: 900px;
	background-color: #F5E1EB;
	border: 1px solid blue;
}
#menu
{
	border: solid #BDBDF1 0px;
	height: 35px;
	margin-top: -13px;
	margin-bottom: 5px;
	border-radius:2px;
    background-color: #D2D3E4;
}
#menu ul
{
	list-style-type: none;
	text-transform: capitalize;
	background-color: #C1ABE4;
	margin-left: 240px;
}
#menu ul li
{
	float:left;
	font-size:22px;
    margin-right: 20px;
	border:visible;
}
#menu ul li a {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;
}
#menu ul li a:hover{

	background-color: gray;
	text-decoration: none;
}
#footer ul
{
	list-style-type: none;
	text-transform: lowercase;
}
#footer ul li{
	font-size:17px;
    margin-right: 3px;
	background-color: green;
}
#footer ul li a {
	float: left;
	padding-left: 1px;
}
.row{
	background-color: #F3CAD9;
}
.btn-save{
	padding: 15px 25px;
	background-color: #2ECC71;
	cursor: pointer;   
	border: none; 
	color: #fff;
	margin-top: 240px;
	margin-right: 400px;
	border-radius: 4px;
	border-bottom: 4px solid #27AE60;
	margin-bottom: 20px;
}
.contact{
	margin-left: 100px;
	float: left;
}